{% block content %}

{% load crispy_forms_tags %}

<!--Login-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <form method="POST">
       {% csrf_token %}

    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Please enter your login and password!</p>

              {{ login_form|crispy }}


              <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>

            </div>

            <div>
              <p class="mb-0">Don't have an account? <a href="/register" class="text-white-50 fw-bold">Sign Up</a>
              </p>
              <p class="mb-0">Go back to main site? <a href="/" class="text-white-50 fw-bold">Click here!</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
</section>
{% endblock %}